# PYHTON HYPOTHESIS TESTING CASE STUDY

### IMPORTING LIBRARIES

In [5]:
import numpy as np
import pandas as pd
import scipy.stats as stats

### IMPORTING DATASET

In [3]:
cust_satisfaction = pd.read_csv('C:/Users/shubh/Desktop/ALABS PYTHON CASE STUDIES/FOUNDATION/8. Basic Stats - Case Study-2/8. Basic Stats - Case Study-2/Testing_Of_Hypothesis.csv')
cust_satisfaction.head()

   Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74

## Q1.
The Samsung Average customer satisfaction score is
minimum 75%.

In [4]:
print('Mean Satisfaction Score for Samsung is :', cust_satisfaction['Samsung Score'].mean())

Mean Satisfaction Score for Samsung is : 84.9

### Ho : Mean Satisfaction Score for Samsung is atleast 75
### Ha : Mean Satisfaction Score for Samsung is more than 75
### CI : 95%, p-value : 0.05
### One Sample t-test

In [9]:
stats.ttest_1samp(cust_satisfaction['Samsung Score'], 75)

Ttest_1sampResult(statistic=8.358287450922418, pvalue=4.0739777034636007e-13)

### Conclusion :
Since the p-value is coming out to be very low (<0.05), we can reject the null hypothesis.

In other words, we can say that the minimum customer satisfaction score for samsung is greater than 75%.

## Q2.
The overall average satisfaction score of Samsung is same
as Apple. There is no significant difference in the satisfaction
scores

In [11]:
print('Mean Satisfaction Score for Samsung is :', cust_satisfaction['Samsung Score'].mean(), 
      '| Mean Satisfaction Score for Apple is :', cust_satisfaction['Apple_Score'].mean())

Mean Satisfaction Score for Samsung is : 84.9 | Mean Satisfaction Score for Apple is : 87.81

### Ho : Mean Satisfaction score Samsung = Mean Satisfaction score Apple
### Ha : Mean Satisfaction score Samsung != Mean Satisfaction score Apple
### CI : 95%, p-value : 0.05
### Independent Sample t-test

In [12]:
stats.ttest_ind(cust_satisfaction['Samsung Score'], cust_satisfaction['Apple_Score'])

Ttest_indResult(statistic=-1.9064295935043472, pvalue=0.058042614444118075)

### Conclusion :
Since p-value is coming out to be more than 0.05, we fail to reject the null hypothesis.

In other words we can say that there is no significant difference between Apple's and Samsung's average customer satisfaction score.